.header{
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 10;
    box-shadow: 0 0 3px;
}
.header-mobile{
    background-color: var(--primary-color);
    height: var(--header-mobile-height);
}

.header-mobile__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-mobile__nav, .header-mobile__cart{
    flex: 1;
}

.mobile-nav__icon{
    width: 30px;
    height: 5px;
    background-color: var(--white-color);
}

.mobile-nav__icon:nth-child(2){
    margin: 4px 0;
}

.nav-top{
    height: var(--nav-top-height);
    background-color: var(--white-color);
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--nav-top-height);
}

.nav-list__title{
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-list__link{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    text-transform: uppercase;
}

.nav-list__link i{
    font-size: 1.6rem;
}

.nav-list__link span{
    margin-left: 4px;
}

.header-mobile__logo {
    flex: 2;
    text-align: center;
}

.header-mobile__cart{
    text-align: right;
}

.header-mobile__link{
    color: var(--white-color);
    text-decoration: none;
    font-size: 2.5rem;
}

.header-mobile__search{
    flex: 1;
    margin-top: 10px;
    position: relative;
    height: 30px;
}

.header-mobile__input{
    width: 100%;
    padding: 0 10px;
    height: inherit;

}

.header-mobile__button{
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
    padding: 0 10px;
    font-size: 2rem;
    background-color: transparent;
    opacity: 0.7;
}

.header-pc{
    display: none;
    position: fixed;
    inset: 0 0 auto 0;
    height: var(--header-pc-height);
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-top{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


.header-logo__link{
    text-decoration: none;
}

.header-logo__text{
    color: var(--white-color);
    font-size: 2.6rem;
}

.header-search{
    position: relative;
    flex-basis: 350px;
}

.header-search__input{
    padding: 12px;
    position: absolute;
    inset: -3px 0 auto 0;
}

.header-widget{
    display: flex;
    align-items: center;
}

.header-widget__link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.header-widget__link + .header-widget__link{
    margin-left: 24px;
}

.header-widget__link span{
    margin-left: 4px;
}

.slider{
    margin-top: calc(var(--header-mobile-height) + 10px);
    display: flex;
}

.slider__list{
    list-style-type: none;
    display: flex;
    overflow: hidden;
    margin-right: 4px;
}

.slider__item{
    flex: 0 0 100%;
}

.slider__image{
    width: 100%;
    max-height: 304px;
    vertical-align: middle;

}

.slider__item.active{
    animation: fadeIn 2s linear;
}

.slider-sub{
    flex-basis: 370px;
}

.slider-sub__wrap + .slider-sub__wrap{
    margin-top: 4px;
}

.slider-sub__img{
    max-width: 100%;
    max-height: 150px;
    vertical-align: middle;
}



@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.section{
    background-color: var(--white-color);
    height: 100%;
}

.section__heading{
    padding: 10px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.section__heading--light{
    color: var(--white-color);
}

.section--bg{
    background-color: var(--primary-color);
}

/* Service Section */
.service__link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.service__name{
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);
    font-weight: 500;
}

.service__img{
    width: 100%;
    vertical-align: middle;
}

/* Brand Section */

.brand__link{
    display: flex;
    height: 30px;
    align-items: center;
    text-align: center;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 20px 5px;
    margin-bottom: 10px;
}
.brand__img{
    max-width: 100%;
    vertical-align: middle;
}

/* Product Section */

/* Product Select Service to Fix */
.product-select__button{
    color: var(--text-color);
    text-align: center;
    min-width: 60px;
    font-size: 1.1rem;
}

.product-item{
    display: block;
    position: relative;
}

.product-discount{
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 2px;
    background-color: var(--second-color);
    z-index: 2;
}

.product-discount::after{
    content:"";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    border-width: 0 13px 6px 14px;
    border-style: solid;
    border-color: transparent var(--second-color) transparent var(--second-color);

}

.product-discount__text{
   color: var(--white-color);
}

.product-container{
    position: relative;
}

.product-container__img{
    width: 100%;
    vertical-align: middle;
}

.product-wan{
    position: absolute;
    bottom: 0;
    left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-wan__time{
    border: solid 1px var(--white-color);   
    padding: 3px 5px;
    color: var(--white-color);
    font-weight: 500;
}

.product-wan__time--red
{
    background-color: var(--second-color);
}

.product-wan__time--orange
{
    background-color: var(--primary-color);
}

.product-item__name{
    font-size: 1.5rem;
    margin: 10px 0;
}

.product-price{
    font-size: 1.4rem;
}

.product-price__new{
    font-weight: 500;
    color: var(--second-color);
}

.product-price__old{
    margin-left: 4px;
    opacity: 0.7;
    text-decoration: line-through;
}

/* Section Accessories */
.accessory-container{
    display: flex;
    flex-wrap: wrap;
}

.accessory-item{
    flex: 0 0 25%;
    padding:0 10px 10px 10px
}

.accessory-item__img{
    width: 100%;
}

.accessory-item__title{
    text-align: center;
    padding: 2px 0;
    font-size: 1.2rem;
}

/* Section why select hào huỳnh */
.why-select-haohuynh__wrap{
    text-align: center;
    padding: 10px;
    min-height: 194px;
}
.why-select-haohuynh__heading{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 4px;
    font-size: 1.3rem;
}

.why-select-haohuynh__descipt{
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.6;
}

.why-select-haohuynh__img{
    vertical-align: middle;
    width: 50%;
}

/* Footer */
.store-list{
    padding: 0 10px;
    list-style-type: none;
    font-size: 1.5rem;
}

.store-list__item{
    color: var(--white-color);
    line-height: 2;
}

.store-list__link{
    color: var(--white-color);
    font-weight: 500;
}

.store-find__wrapper{
    background-color: var(--button-origin-color);
    text-align: center;
    padding: 10px;
}

.store-find__link{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

.footer-list{
    list-style-type: none;
}

.footer__link{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2;
    color: var(--text-color);
}

.footer-copy-right p{
    text-align: center;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.5);
    padding: 10px
}
